<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leyuan.printer"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@drawable/i_dong"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AppointCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PrintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.print.Sending01010101Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.print.ConsoleActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".receivers.BootBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>


        <service
            android:name=".services.PrintJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".services.ForegroundRunService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58ef2ac104e20548b100000e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />


    </application>

</manifest>